@import "reset.css";


/* Layout */
html * {
    --th-bg-color: #52555c;
    --th-txt-color: #fff;
    --th1-bg-color: #eeeae5;
    --th1-txt-color: #000;
    --point-color: #ffbc00;
}
html {
    height: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "KBFGTextM", sans-serif;
    font-size: 1em; //16px
    color: #222;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .bg-img-blur {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
    }
}
.conf {
    &__wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        color: #fff;
        text-align: center;
        .tit-main, .tit-sub, .txt-sub {
            width: 100%;
            text-align: center;
            line-height: 1.2em;
        }
        .tit-main {
            font-size: 40px;
            font-weight: 600;
            color: #ffbc00;
        }
        .tit-sub {
            font-size: 40px;
        }
        .txt-sub {
            margin-top: 16px;
            font-size: 22px;
        }
    }
    &__body {
        // position: relative;
        width: 90%;
        margin: 0 auto 140px;
        padding: 40px;
        background: #fff;
        .cont-center {
            padding: 40px;
        }
    }
    &__footer {
        position: absolute;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 88px;
        background: #57504a;
        .logo {
            width: 168px;
            height: 56px;
            background: url('../images/logo-new.png') no-repeat;
            background-size: 168px auto;
        }
    }
}

@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.arr-scroll {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 60px;
    background: rgba($color: #000, $alpha: 0.4) url('../images/ico-arr.png') no-repeat center center;
    background-size: 24px auto;
    animation: blink-animation 2s steps(20, start) forwards; //infinite
    z-index: 11;
}
.table {
    &__wrap {
        width: 100%;
        overflow-x: hidden;
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }
        
        .conf-title {
            font-size: 18px;
            font-weight: 500;
            color: #000;
            letter-spacing: -.5px;
            // white-space: wrap;
        }
        .conf-speaker {
            margin-top: 8px;
            font-size: 18px;
            color: #4a4a4a;
        }
        tr {
            display: flex;
            gap: 8px;
            width: 100%;
            td {
                width: 100%;
            }
            td:first-child {
                width: 150px;
                padding: 4px 0;
                position: sticky;
                left: 0;
                z-index: 1;
            }
        }
        thead {
            tr {
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 56px;
                    border-radius: 8px;
                    font-size: 24px;
                    font-weight: 500;
                }
                td {
                    background: var(--th-bg-color);
                    color: var(--th-txt-color);
                }
                td:first-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                    background: var(--th1-bg-color);
                    color: var(--th1-txt-color);
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -1px;
                        width: 1px;
                        height: 56px;
                        background: var(--th1-bg-color);
                    }
                }
            }
        }
        tbody {
            tr {
                padding: 8px 0;
                border-bottom: 1px solid #ddd;
                td:first-child {
                    background: #f8f8f8;
                }
                td {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-right: 4px;
                    padding-left: 4px;
                    font-size: 20px;  
                    &.merge-cell {
                        width: calc(100% - 150px);
                    }            
                    span {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 16px;
                    }
                    a:hover {
                        position: relative;
                        background: #f4f4f4;
                        border-radius: 8px;
                        // .conf-title {
                        //     text-decoration: underline;
                        // }
                    }
                    a:hover::before {
                        content: '';
                        position: absolute;
                        top: calc(50% - 20px);
                        right: 20px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: var(--point-color) url('../images/ico-arr.png')no-repeat center center;
                        background-size: 18px auto;
                    }
                }
                td + td {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: -4px;
                        width: 1px;
                        height: calc(100% - 16px);
                        background: #ddd;
                    }
                }
                td:first-child + td {
                    &::before {
                        background: transparent;
                    }
                }
            }
        }
    }
}
.h2 {
    margin-top: 40px;
    padding: 0 20px; /* 20240819 */
    font-size: 1.4em;
    font-weight: 500;
}
.map {
    &__wrap {
        margin-top: 16px;
        padding: 0 20px; /* 20240819 */
        img {
            width: 100%;
            height: auto;
        }
    }
    &__txt {
        margin-top: 16px;
        padding: 0 20px; /* 20240819 */
    }
    
}
.label {
    position: relative;
    margin-right: 8px;
    font-weight: bold;
    &::after {
        content: ':';
    }
}
.bold {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    //tablet, mobile
    body {
        font-size: 14px;
    }
    .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25vh;
        z-index: -1;
        .bg-img-blur {
            filter: blur(3px);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25vh;
            background: rgba($color: #000000, $alpha: 0.3);
            z-index: 0;
        }
    }
    .conf {
        &__header {
            height: 25vh;
            padding: 0 20px;
            .tit-main {
                font-size: 2em;
            }
            .tit-sub {
                font-size: 1.6em;
            }
            .txt-sub {
                margin-top: 12px;
                font-size: 1em;
            }
        }
        &__body {
            
            width: 100%;
            margin: 0 auto 100px;
            padding: 20px 0;
            .cont-center {
                padding: 20px;
            }
        }
        &__footer {
            .logo {
                width: 120px;
                height: 40px;
                background: url('../images/logo-new.png') no-repeat;
                background-size: 120px auto;
            }
        }
    }
    .arr-scroll {
        display: block;
    }
    .table {
        &__wrap {
            position: relative;
            overflow-x: auto;
            table {
                width: 100%;
            }
            tr {
                display: flex;
                gap: 8px;
                width: 100%;
                td {
                    width: 100%;
                }
                td:first-child {
                    width: 100px;
                }
            }
            thead {
                tr {
                    td {
                        height: 48px;
                        font-size: 16px;
                    }
                    td:first-child {
                        &::before {
                            height: 48px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        &.merge-cell {
                            width: calc(100% - 100px);
                        } 
                        a {
                            padding: 4px;
                        }
                        a:hover {
                            background: none;
                            .conf-title {
                                text-decoration: none;
                            }
                        }
                        a:active {
                            position: relative;
                            background: #f4f4f4;
                            border-radius: 8px;
                        }
                        a:hover::before {
                            background: none;
                        }
                    }
                }
            }
            .conf-title {
                font-size: 14px;
            }
            .conf-speaker {
                font-size: 12px;
            }
        }
    }
}
